/* declarar unas variables de colores y fuentes*/
:root{
    /*fuentes*/
        --titulos: 'Yanone Kaffeesatz', sans-serif;
        --parrafos: 'Roboto Condensed', sans-serif;
        /*colores corporativos*/
        --piepagina: rgb(17, 16, 16);
        --enlace: rgb(16, 65, 80);
        --enlacesobre: rgb(247, 153, 65);
        
    }
    
    /*configuracion global*/
    h1, h2, h3, h4, h5, h6{
        font-family: var(--titulos);
    }
    

    th,tr,td,table{
        border: 2px solid rgb(59, 218, 72);
        padding: 5px;
        margin-left: 27%;
        margin-bottom: 50px;

    }
    
    /*selector universal en css es (*) */
    *{
        /* calcular mejor los paddings o espaciados */
        box-sizing: border-box;
    }
    
    /* representación de una clase en css(.) */
    /* Encabezado */
    .home-wrappe {
        background-image: url('../img/jugos.jpg');
        background-size: cover;
    
    }
    
    header{
        width: 100%;
        background-color: var(--encabezado);
        position: fixed; /*elemento fijo*/
        padding-top: 8px;
    
    }
    header nav{
        float: right;
        margin-left: 5px;
        padding: 10px 2px;
    }
    header img{
        width: 100px;
    }
    
    header nav a{
        color: var(--enlace);
        text-decoration: none;
        margin-left: 8px;
        font-weight: bold;
        }
    
        header nav a:hover{
            color: var(--enlacesobre);
        }
    
        /* seccion home aplicar estilos a identificador*/
        #home{
            text-align: center;
            padding: 150px 0 150px;
        }
    
        #home h1{
            font-size: 3.0rem;
            color: rgb(255, 255, 255);
        
           
        }
    
        #home p{
            margin-top: 30px;
            font-size: 2.5rem;
            font-weight: 700;
            font-family: var(--parrafos);
        }
    
    
        section{
            padding-top: 10px;
        }
    
        section h2{
            text-align: center;
            font-size: 2.4rem;
            }
    
            /* Sección Novedades, posicionar elementos en linea o bloque */
        
            #nosotros .box p{
                text-align: justify;
            }
    
            #nosotros .box img{
            
                padding-left: 1%;
                padding-bottom: 10px;
                padding: justify-content;
            }
    
            #nosotros .box h3{
                text-align: center;
                font-size: 1.8rem;
            }
            
            #productos .box h3{
                text-align: center;
                font-size: 1.8rem;
            }
    
            #productos .box p{
                text-align: justify;
                
            }
    
            /* seccion contacto */
    
            #contactanos{
                background-image: url('../img/cerezas.jpg');
                background-color: black;
                width: 100%;
                text-align: center;
                padding-bottom: 10px;
            }
    
            #contactanos h2{
                color: #fff;
            }
    
            #contactanos textarea,input{
                width: 450px;
                border-radius: 5px;
                padding-bottom: 10px;
                padding-top: 10px;
                font-size: 1.2rem;
                background-color: rgb(106, 196, 199);
                color: black;
    
            }
    
            iframe{
                margin: 15px 0 10px;
            }
            /* footer o pie de pagina */
            footer{
                width: 100%;
                background-color: var(--piepagina);
                color: #fff;
                padding-top: 10px;padding-bottom: 10px;
            }
            .contaainer{
                text-align: center;
                margin-top: 25px;
                margin-right: 15%;
                margin-left: 15%;
                font-family: var(--parrafos);
            }